.page-div {
  background:black;
}
header {
  display:flex;
  justify-content: center;
  color:#008F11;
  font-family: "Press Start 2P";
  text-decoration: underline;
  padding:40px;
}

.filter-div {
  display:flex;
  margin:20px;
  margin-top:10px;
  justify-content: center;
}

.filter-input {
  outline: none;
    border-color: #008F11;
    box-shadow: 0 0 50px 5px #008F11;
    margin:30px;
    margin-top:0px;
    width:300px;
    font-size: 16px;
    padding:15px;
    color: #252525;
    background: #a4a4a4;
    font-family: "Press Start 2P";
}

.news-div {
  display:flex;
  justify-content: center;
}

.news-ul {
  list-style: none;
  padding:0;
  font-family: "Press Start 2P";
  font-size: 18px;
}

.list-item {
  text-align: center;
  padding:30px;
  color:#008F11;
  border-style: solid;
  margin:20px;
  box-shadow: 0 0 10px #008F11;
}

a {
  color: #008F11;
}

a:hover {
  color: white;
}

